# Re-creating part of the predcomp feature dataset at cy

In [1]:
from viewser.operations import fetch
from viewser import Queryset, Column
from views_mapper2.label_writer import *

In [2]:
# Output folder

import os
home = os.path.expanduser("~")
desktop = home+'/Desktop/'

# Fetch first batch of country-year features 
Fetches features originally defined at both country-month and country-year levels, all of which could be automatically aggregated to country-year level in the new queryset. See prediction challenge feature codebook for human definitions.

### Set time period

In [3]:
StartYear = 1950 
EndYear = 2020

### Fetch data
Features defined in the prediction challenge queryset and documented in the prediction challenge feature codebook. Here aggregated to country-year level, otherwise unedited.

In [4]:
predcomp_subset_cy = (Queryset('predcomp_subset_cy_features','country_year') # country-year level as target level

    # Indentifiers
    .with_column(Column('year', from_loa = "year", from_column = 'year'))
    .with_column(Column('month', from_loa = "month", from_column = 'month'))
    .with_column(Column('isoab', from_loa = "country", from_column = 'isoab'))
    .with_column(Column('country', from_loa = "country", from_column = 'name'))

    # Conflict history features, defined at country_month level but aggregated to country_year in the queryset
    .with_column(Column('ged_sb', from_loa='country_month', from_column='ged_sb_best_sum_nokgi')
        .transform.missing.fill()
        )

    .with_column(Column('ged_ns', from_loa='country_month', from_column='ged_ns_best_sum_nokgi')
        .transform.missing.fill()
        )

    .with_column(Column('ged_os', from_loa='country_month', from_column='ged_os_best_sum_nokgi')
        .transform.missing.fill()
        )

    .with_column(Column('acled_sb', from_loa='country_month', from_column='acled_sb_fat')
        .transform.missing.fill()
        .transform.missing.replace_na()
        )

    .with_column(Column('acled_sb_count', from_loa='country_month', from_column='acled_sb_count')
        .transform.missing.fill()
        .transform.missing.replace_na()
        )

    .with_column(Column('acled_os', from_loa='country_month', from_column='acled_os_fat')
        .transform.missing.fill()
        .transform.missing.replace_na()
        )

    .with_column(Column('ged_sb_tsum_24', from_loa='country_month', from_column='ged_sb_best_sum_nokgi')
        .transform.missing.replace_na()
        .transform.temporal.moving_sum(24)
        .transform.missing.replace_na()
        )

    .with_column(Column('ged_sb_tlag_1', from_loa='country_month', from_column='ged_sb_best_sum_nokgi')
        .transform.missing.fill()
        .transform.temporal.tlag(1)
        .transform.missing.fill()
        .transform.missing.replace_na()
        )

    .with_column(Column('ged_sb_tlag_2', from_loa='country_month', from_column='ged_sb_best_sum_nokgi')
        .transform.missing.fill()
        .transform.temporal.tlag(2)
        .transform.missing.fill()
        .transform.missing.replace_na()
        )

    .with_column(Column('ged_sb_tlag_3', from_loa='country_month', from_column='ged_sb_best_sum_nokgi')
        .transform.missing.fill()
        .transform.temporal.tlag(3)
        .transform.missing.fill()
        .transform.missing.replace_na()
        )

    .with_column(Column('ged_sb_tlag_4', from_loa='country_month', from_column='ged_sb_best_sum_nokgi')
        .transform.missing.fill()
        .transform.temporal.tlag(4)
        .transform.missing.fill()
        .transform.missing.replace_na()
        )

    .with_column(Column('ged_sb_tlag_5', from_loa='country_month', from_column='ged_sb_best_sum_nokgi')
        .transform.missing.fill()
        .transform.temporal.tlag(5)
        .transform.missing.fill()
        .transform.missing.replace_na()
        )

    .with_column(Column('ged_sb_tlag_6', from_loa='country_month', from_column='ged_sb_best_sum_nokgi')
        .transform.missing.fill()
        .transform.temporal.tlag(6)
        .transform.missing.fill()
        .transform.missing.replace_na()
        )

    .with_column(Column('ged_os_tlag_1', from_loa='country_month', from_column='ged_os_best_sum_nokgi')
        .transform.missing.fill()
        .transform.temporal.tlag(1)
        .transform.missing.fill()
        .transform.missing.replace_na()
        )

    .with_column(Column('decay_ged_sb_5', from_loa='country_month', from_column='ged_sb_best_sum_nokgi')
        .transform.missing.replace_na()
        .transform.bool.gte(5)
        .transform.temporal.time_since()
        .transform.temporal.decay(24)
        .transform.missing.replace_na()
        )

    .with_column(Column('decay_ged_os_5', from_loa='country_month', from_column='ged_os_best_sum_nokgi')
        .transform.missing.replace_na()
        .transform.bool.gte(5)
        .transform.temporal.time_since()
        .transform.temporal.decay(24)
        .transform.missing.replace_na()
        )

    .with_column(Column('decay_ged_sb_100', from_loa='country_month', from_column='ged_sb_best_sum_nokgi')
        .transform.missing.replace_na()
        .transform.bool.gte(100)
        .transform.temporal.time_since()
        .transform.temporal.decay(24)
        .transform.missing.replace_na()
        )

    .with_column(Column('decay_ged_sb_500', from_loa='country_month', from_column='ged_sb_best_sum_nokgi')
        .transform.missing.replace_na()
        .transform.bool.gte(500)
        .transform.temporal.time_since()
        .transform.temporal.decay(24)
        .transform.missing.replace_na()
        )

    .with_column(Column('decay_ged_os_100', from_loa='country_month', from_column='ged_os_best_sum_nokgi')
        .transform.missing.replace_na()
        .transform.bool.gte(100)
        .transform.temporal.time_since()
        .transform.temporal.decay(24)
        .transform.missing.replace_na()
        )

    .with_column(Column('decay_ged_ns_5', from_loa='country_month', from_column='ged_ns_best_sum_nokgi')
        .transform.missing.replace_na()
        .transform.bool.gte(5)
        .transform.temporal.time_since()
        .transform.temporal.decay(24)
        .transform.missing.replace_na()
        )

    .with_column(Column('decay_ged_ns_100', from_loa='country_month', from_column='ged_ns_best_sum_nokgi')
        .transform.missing.replace_na()
        .transform.bool.gte(100)
        .transform.temporal.time_since()
        .transform.temporal.decay(24)
        .transform.missing.replace_na()
        )

    .with_column(Column('decay_acled_sb_5', from_loa='country_month', from_column='acled_sb_fat')
        .transform.missing.replace_na()
        .transform.bool.gte(5)
        .transform.temporal.time_since()
        .transform.temporal.decay(24)
        .transform.missing.replace_na()
        )

    .with_column(Column('decay_acled_os_5', from_loa='country_month', from_column='acled_os_fat')
        .transform.missing.replace_na()
        .transform.bool.gte(5)
        .transform.temporal.time_since()
        .transform.temporal.decay(24)
        .transform.missing.replace_na()
        )

    .with_column(Column('decay_acled_ns_5', from_loa='country_month', from_column='acled_ns_fat')
        .transform.missing.replace_na()
        .transform.bool.gte(5)
        .transform.temporal.time_since()
        .transform.temporal.decay(24)
        .transform.missing.replace_na()
        )


    # WDI features, defined at country_year level
    .with_column(Column('wdi_sp_pop_totl', from_loa='country_year', from_column='wdi_sp_pop_totl')
        .transform.missing.fill()
        .transform.temporal.tlag(12)
        .transform.missing.fill()
        .transform.missing.replace_na()
        )

    .with_column(Column('wdi_ag_lnd_frst_k2', from_loa='country_year', from_column='wdi_ag_lnd_frst_k2')
        .transform.missing.fill()
        .transform.temporal.tlag(12)
        .transform.missing.fill()
        .transform.missing.replace_na()
        )

    .with_column(Column('wdi_dt_oda_odat_pc_zs', from_loa='country_year', from_column='wdi_dt_oda_odat_pc_zs')
        .transform.missing.fill()
        .transform.temporal.tlag(12)
        .transform.missing.fill()
        .transform.missing.replace_na()
        )

    .with_column(Column('wdi_ms_mil_xpnd_gd_zs', from_loa='country_year', from_column='wdi_ms_mil_xpnd_gd_zs')
        .transform.missing.fill()
        .transform.temporal.tlag(12)
        .transform.missing.fill()
        .transform.missing.replace_na()
        )

    .with_column(Column('wdi_ms_mil_xpnd_zs', from_loa='country_year', from_column='wdi_ms_mil_xpnd_zs')
        .transform.missing.fill()
        .transform.temporal.tlag(12)
        .transform.missing.fill()
        .transform.missing.replace_na()
        )

    .with_column(Column('wdi_nv_agr_totl_kd', from_loa='country_year', from_column='wdi_nv_agr_totl_kd')
        .transform.missing.fill()
        .transform.temporal.tlag(12)
        .transform.missing.fill()
        .transform.missing.replace_na()
        )

    .with_column(Column('wdi_nv_agr_totl_kn', from_loa='country_year', from_column='wdi_nv_agr_totl_kn')
        .transform.missing.fill()
        .transform.temporal.tlag(12)
        .transform.missing.fill()
        .transform.missing.replace_na()
        )

    .with_column(Column('wdi_ny_gdp_pcap_kd', from_loa='country_year', from_column='wdi_ny_gdp_pcap_kd')
        .transform.missing.fill()
        .transform.temporal.tlag(12)
        .transform.missing.fill()
        .transform.missing.replace_na()
        )

    .with_column(Column('wdi_sp_dyn_le00_in', from_loa='country_year', from_column='wdi_sp_dyn_le00_in')
        .transform.missing.fill()
        .transform.temporal.tlag(12)
        .transform.missing.fill()
        .transform.missing.replace_na()
        )

    .with_column(Column('wdi_se_enr_prim_fm_zs', from_loa='country_year', from_column='wdi_se_enr_prim_fm_zs')
        .transform.missing.fill()
        .transform.temporal.tlag(12)
        .transform.missing.fill()
        .transform.missing.replace_na()
        )

    .with_column(Column('wdi_se_enr_prsc_fm_zs', from_loa='country_year', from_column='wdi_se_enr_prsc_fm_zs')
        .transform.missing.fill()
        .transform.temporal.tlag(12)
        .transform.missing.fill()
        .transform.missing.replace_na()
        )

    .with_column(Column('wdi_se_prm_nenr', from_loa='country_year', from_column='wdi_se_prm_nenr')
        .transform.missing.fill()
        .transform.temporal.tlag(12)
        .transform.missing.fill()
        .transform.missing.replace_na()
        )

    .with_column(Column('wdi_sh_sta_maln_zs', from_loa='country_year', from_column='wdi_sh_sta_maln_zs')
        .transform.missing.fill()
        .transform.temporal.tlag(12)
        .transform.missing.fill()
        .transform.missing.replace_na()
        )

    .with_column(Column('wdi_sh_sta_stnt_zs', from_loa='country_year', from_column='wdi_sh_sta_stnt_zs')
        .transform.missing.fill()
        .transform.temporal.tlag(12)
        .transform.missing.fill()
        .transform.missing.replace_na()
        )

    .with_column(Column('wdi_sl_tlf_totl_fe_zs', from_loa='country_year', from_column='wdi_sl_tlf_totl_fe_zs')
        .transform.missing.fill()
        .transform.temporal.tlag(12)
        .transform.missing.fill()
        .transform.missing.replace_na()
        )

    .with_column(Column('wdi_sm_pop_refg_or', from_loa='country_year', from_column='wdi_sm_pop_refg_or')
        .transform.missing.fill()
        .transform.temporal.tlag(12)
        .transform.missing.fill()
        .transform.missing.replace_na()
        )

    .with_column(Column('wdi_sm_pop_netm', from_loa='country_year', from_column='wdi_sm_pop_netm')
        .transform.missing.fill()
        .transform.temporal.tlag(12)
        .transform.missing.fill()
        .transform.missing.replace_na()
        )

    .with_column(Column('wdi_sm_pop_totl_zs', from_loa='country_year', from_column='wdi_sm_pop_totl_zs')
        .transform.missing.fill()
        .transform.temporal.tlag(12)
        .transform.missing.fill()
        .transform.missing.replace_na()
        )

    .with_column(Column('wdi_sp_dyn_imrt_in', from_loa='country_year', from_column='wdi_sp_dyn_imrt_in')
        .transform.missing.fill()
        .transform.temporal.tlag(12)
        .transform.missing.fill()
        .transform.missing.replace_na()
        )

    .with_column(Column('wdi_sh_dyn_mort_fe', from_loa='country_year', from_column='wdi_sh_dyn_mort_fe')
        .transform.missing.fill()
        .transform.temporal.tlag(12)
        .transform.missing.fill()
        .transform.missing.replace_na()
        )

    .with_column(Column('wdi_sp_pop_0014_fe_zs', from_loa='country_year', from_column='wdi_sp_pop_0014_fe_zs')
        .transform.missing.fill()
        .transform.temporal.tlag(12)
        .transform.missing.fill()
        .transform.missing.replace_na()
        )

    .with_column(Column('wdi_sp_pop_1564_fe_zs', from_loa='country_year', from_column='wdi_sp_pop_1564_fe_zs')
        .transform.missing.fill()
        .transform.temporal.tlag(12)
        .transform.missing.fill()
        .transform.missing.replace_na()
        )

    .with_column(Column('wdi_sp_pop_65up_fe_zs', from_loa='country_year', from_column='wdi_sp_pop_65up_fe_zs')
        .transform.missing.fill()
        .transform.temporal.tlag(12)
        .transform.missing.fill()
        .transform.missing.replace_na()
        )

    .with_column(Column('wdi_sp_pop_grow', from_loa='country_year', from_column='wdi_sp_pop_grow')
        .transform.missing.fill()
        .transform.temporal.tlag(12)
        .transform.missing.fill()
        .transform.missing.replace_na()
        )

    .with_column(Column('wdi_sp_urb_totl_in_zs', from_loa='country_year', from_column='wdi_sp_urb_totl_in_zs')
        .transform.missing.fill()
        .transform.temporal.tlag(12)
        .transform.missing.fill()
        .transform.missing.replace_na()
        )
    )


predcomp_subset_cy = predcomp_subset_cy.publish().fetch()

print(f"A dataset with {len(predcomp_subset_cy.columns)} columns, with "
      f"data between t {min(predcomp_subset_cy.index.get_level_values(0))} "
      f"and {max(predcomp_subset_cy.index.get_level_values(0))}. "
      f"({len(np.unique(predcomp_subset_cy.index.get_level_values(1)))} units)"
     )

100%|██████████| 1.70M/1.70M [00:00<00:00, 8.18MB/s]

Queryset predcomp_subset_cy_features read successfully
A dataset with 53 columns, with data between t 1900 and 2050. (220 units)

In [5]:
# Check the dataframe

predcomp_subset_cy

                    year  month isoab      country  ged_sb  ged_ns  ged_os  \
year_id country_id
1900    4           1900    NaN   VEN    Venezuela     0.0     0.0     0.0
        7           1900    NaN   ARG    Argentina     0.0     0.0     0.0
        8           1900    NaN   BOL      Bolivia     0.0     0.0     0.0
        10          1900    NaN   CHL        Chile     0.0     0.0     0.0
        11          1900    NaN   ECU      Ecuador     0.0     0.0     0.0
...                  ...    ...   ...          ...     ...     ...     ...
2050    242         2050   78.0   TZA     Tanzania     0.0     0.0     0.0
        243         2050   78.0   MAR      Morocco     0.0     0.0     0.0
        244         2050   78.0   MRT   Mauritania     0.0     0.0     0.0
        245         2050   78.0   SDN        Sudan     0.0     0.0     0.0
        246         2050   78.0   SSD  South Sudan     0.0     0.0     0.0

                    acled_sb  acled_sb_count  acled_os  ...  decay_ged_sb_5  \
year_id country_id                                      ...
1900    4                0.0             0.0       0.0  ...        0.000000
        7                0.0             0.0       0.0  ...        0.000000
        8                0.0             0.0       0.0  ...        0.000000
        10               0.0             0.0       0.0  ...        0.000000
        11               0.0             0.0       0.0  ...        0.000000
...                      ...             ...       ...  ...             ...
2050    242              0.0             0.0       0.0  ...        0.445449
        243              9.0             3.0       0.0  ...        0.500000
        244              0.0             0.0       0.0  ...        0.471937
        245           2660.0           521.0    1588.0  ...        0.500000
        246            237.0            61.0     127.0  ...        0.500000

                    decay_ged_os_5  decay_ged_sb_100  decay_ged_sb_500  \
year_id country_id
1900    4                 0.000000          0.000000          0.000000
        7                 0.000000          0.000000          0.000000
        8                 0.000000          0.000000          0.000000
        10                0.000000          0.000000          0.000000
        11                0.000000          0.000000          0.000000
...                            ...               ...               ...
2050    242               0.445449          0.210224          0.210224
        243               0.333710          0.176777          0.128663
        244               0.181957          0.128663          0.128663
        245               0.500000          0.500000          0.500000
        246               0.500000          0.445449          0.408479

                    decay_ged_os_100  decay_ged_ns_5  decay_ged_ns_100  \
year_id country_id
1900    4                   0.000000        0.000000          0.000000
        7                   0.000000        0.000000          0.000000
        8                   0.000000        0.000000          0.000000
        10                  0.000000        0.000000          0.000000
        11                  0.000000        0.000000          0.000000
...                              ...             ...               ...
2050    242                 0.210224        0.216384          0.210224
        243                 0.128663        0.128663          0.128663
        244                 0.128663        0.176777          0.176777
        245                 0.500000        0.500000          0.500000
        246                 0.420448        0.500000          0.471937

                    decay_acled_sb_5  decay_acled_os_5  decay_acled_ns_5
year_id country_id
1900    4                   0.000000          0.000000          0.000000
        7                   0.000000          0.000000          0.000000
        8                   0.000000          0.000000          0.000000
        10                  0.000000          0.000000          0.000000
        11                  0.000000          0.000000          0.000000
...                              ...               ...               ...
2050    242                 0.445449          0.485766          0.458502
        243                 0.500000          0.485766          0.324210
        244                 0.333710          0.264866          0.128663
        245                 0.500000          0.500000          0.500000
        246                 0.500000          0.500000          0.500000

[20392 rows x 53 columns]

In [6]:
# Filter out subset of data

predcomp_subset_cy_filtered = predcomp_subset_cy.query(f'year_id >= {StartYear} & year_id <= {EndYear}')
predcomp_subset_cy_filtered

                    year  month isoab      country  ged_sb  ged_ns  ged_os  \
year_id country_id
1950    4           1950    NaN   VEN    Venezuela     0.0     0.0     0.0
        7           1950    NaN   ARG    Argentina     0.0     0.0     0.0
        8           1950    NaN   BOL      Bolivia     0.0     0.0     0.0
        10          1950    NaN   CHL        Chile     0.0     0.0     0.0
        11          1950    NaN   ECU      Ecuador     0.0     0.0     0.0
...                  ...    ...   ...          ...     ...     ...     ...
2020    242         2020   78.0   TZA     Tanzania    25.0     0.0    19.0
        243         2020   78.0   MAR      Morocco     2.0     0.0     0.0
        244         2020   78.0   MRT   Mauritania     0.0     0.0     0.0
        245         2020   78.0   SDN        Sudan    48.0   518.0    61.0
        246         2020   78.0   SSD  South Sudan    64.0   656.0    28.0

                    acled_sb  acled_sb_count  acled_os  ...  decay_ged_sb_5  \
year_id country_id                                      ...
1950    4                0.0             0.0       0.0  ...        0.235969
        7                0.0             0.0       0.0  ...        0.235969
        8                0.0             0.0       0.0  ...        0.235969
        10               0.0             0.0       0.0  ...        0.235969
        11               0.0             0.0       0.0  ...        0.235969
...                      ...             ...       ...  ...             ...
2020    242             22.0             2.0      11.0  ...        0.500000
        243              3.0             6.0       0.0  ...        0.445449
        244              0.0             2.0       2.0  ...        0.793701
        245            111.0            47.0     358.0  ...        1.000000
        246            436.0           100.0     672.0  ...        1.000000

                    decay_ged_os_5  decay_ged_sb_100  decay_ged_sb_500  \
year_id country_id
1950    4                 0.235969          0.235969          0.235969
        7                 0.235969          0.235969          0.235969
        8                 0.235969          0.235969          0.235969
        10                0.235969          0.235969          0.235969
        11                0.235969          0.235969          0.235969
...                            ...               ...               ...
2020    242               1.000000          0.500000          0.500000
        243               0.793701          0.420448          0.306013
        244               0.432768          0.306013          0.306013
        245               1.000000          0.971532          0.917004
        246               1.000000          1.000000          0.971532

                    decay_ged_os_100  decay_ged_ns_5  decay_ged_ns_100  \
year_id country_id
1950    4                   0.235969        0.235969          0.235969
        7                   0.235969        0.235969          0.235969
        8                   0.235969        0.235969          0.235969
        10                  0.235969        0.235969          0.235969
        11                  0.235969        0.235969          0.235969
...                              ...             ...               ...
2020    242                 0.500000        0.514651          0.500000
        243                 0.306013        0.306013          0.306013
        244                 0.306013        0.420448          0.420448
        245                 1.000000        1.000000          1.000000
        246                 1.000000        1.000000          1.000000

                    decay_acled_sb_5  decay_acled_os_5  decay_acled_ns_5
year_id country_id
1950    4                   0.235969          0.235969          0.235969
        7                   0.235969          0.235969          0.235969
        8                   0.235969          0.235969          0.235969
        10                  0.235969          0.235969          0.235969
        11                  0.235969          0.235969          0.235969
...                              ...               ...               ...
2020    242                 0.612027          1.000000          0.971532
        243                 0.306013          0.793701          0.771105
        244                 0.793701          0.629961          0.306013
        245                 1.000000          1.000000          1.000000
        246                 1.000000          1.000000          1.000000

[11126 rows x 53 columns]

#### Download as .csv

In [7]:
predcomp_subset_cy_filtered.to_csv(desktop+f'predcomp_subset_cy_batch1_+{StartYear}-{EndYear}+.csv', index = False)

## Fetch and transform remaining features
The three features below could not be automatically aggregated to country_year level due to their countrylag transforms and are therefore processed separately. Here, we fetch them at the original country_month level, group them by year, and create a mean of the values per year. The result is found the Batch2 csv file. 

**Note:** Only the original country-month versions of these features are defined in the prediction challenge codebook.

In [8]:
## Set time period: 1980-2020

StartMonth = 1 # month_id 1 is 1980-1. NOTE: There seems to be a lot of missing data in 1980-1981. 
EndMonth = 492

### Fetch the data

In [9]:
predcomp_subset_countrylag_features = (Queryset('predcomp_subset_countrylag_features','country_month')
                             
    .with_column(Column('year', from_loa = "year", from_column = 'year'))
    .with_column(Column('month', from_loa = "month", from_column = 'month'))
    .with_column(Column('isoab', from_loa = "country", from_column = 'isoab'))
    .with_column(Column('country', from_loa = "country", from_column = 'name'))

    .with_column(Column('splag_1_decay_ged_sb_5', from_loa='country_month', from_column='ged_sb_best_sum_nokgi')
        .transform.missing.replace_na()
        .transform.bool.gte(5)
        .transform.temporal.time_since()
        .transform.temporal.decay(24)
        .transform.spatial.countrylag(1,1,0,0)
        .transform.missing.replace_na()
        )

    .with_column(Column('splag_1_decay_ged_os_5', from_loa='country_month', from_column='ged_os_best_sum_nokgi')
        .transform.missing.replace_na()
        .transform.bool.gte(5)
        .transform.temporal.time_since()
        .transform.temporal.decay(24)
        .transform.spatial.countrylag(1,1,0,0)
        .transform.missing.replace_na()
        )

    .with_column(Column('splag_1_decay_ged_ns_5', from_loa='country_month', from_column='ged_ns_best_sum_nokgi')
        .transform.missing.replace_na()
        .transform.bool.gte(5)
        .transform.temporal.time_since()
        .transform.temporal.decay(24)
        .transform.spatial.countrylag(1,1,0,0)
        .transform.missing.replace_na()
        )
)

predcomp_subset_countrylag_features = predcomp_subset_countrylag_features.publish().fetch()

print(f"A dataset with {len(predcomp_subset_countrylag_features.columns)} columns, with "
      f"data between t {min(predcomp_subset_countrylag_features.index.get_level_values(0))} "
      f"and {max(predcomp_subset_countrylag_features.index.get_level_values(0))}. "
      f"({len(np.unique(predcomp_subset_countrylag_features.index.get_level_values(1)))} units)"
     )

100%|██████████| 1.97M/1.97M [00:00<00:00, 7.87MB/s]

Queryset predcomp_subset_countrylag_features read successfully
A dataset with 7 columns, with data between t 1 and 852. (213 units)

In [10]:
predcomp_subset_countrylag_features

                     year  month isoab              country  \
month_id country_id
1        1           1980      1   GUY               Guyana
         2           1980      1   SUR             Suriname
         3           1980      1   TTO  Trinidad and Tobago
         4           1980      1   VEN            Venezuela
         5           1980      1   WSM                Samoa
...                   ...    ...   ...                  ...
852      242         2050     12   TZA             Tanzania
         243         2050     12   MAR              Morocco
         244         2050     12   MRT           Mauritania
         245         2050     12   SDN                Sudan
         246         2050     12   SSD          South Sudan

                     splag_1_decay_ged_sb_5  splag_1_decay_ged_os_5  \
month_id country_id
1        1                              0.0                     0.0
         2                              0.0                     0.0
         3                              0.0                     0.0
         4                              0.0                     0.0
         5                              0.0                     0.0
...                                     ...                     ...
852      242                            0.0                     0.0
         243                            0.0                     0.0
         244                            0.0                     0.0
         245                            0.0                     0.0
         246                            0.0                     0.0

                     splag_1_decay_ged_ns_5
month_id country_id
1        1                              0.0
         2                              0.0
         3                              0.0
         4                              0.0
         5                              0.0
...                                     ...
852      242                            0.0
         243                            0.0
         244                            0.0
         245                            0.0
         246                            0.0

[158230 rows x 7 columns]

In [11]:
# Filter out subset of interest: 1980-2020

predcomp_subset_countrylag_features_filtered = predcomp_subset_countrylag_features.query(f'month_id >= {StartMonth} & month_id <= {EndMonth}')
predcomp_subset_countrylag_features_filtered

                     year  month isoab              country  \
month_id country_id
1        1           1980      1   GUY               Guyana
         2           1980      1   SUR             Suriname
         3           1980      1   TTO  Trinidad and Tobago
         4           1980      1   VEN            Venezuela
         5           1980      1   WSM                Samoa
...                   ...    ...   ...                  ...
492      242         2020     12   TZA             Tanzania
         243         2020     12   MAR              Morocco
         244         2020     12   MRT           Mauritania
         245         2020     12   SDN                Sudan
         246         2020     12   SSD          South Sudan

                     splag_1_decay_ged_sb_5  splag_1_decay_ged_os_5  \
month_id country_id
1        1                         0.000000                0.000000
         2                         0.000000                0.000000
         3                         0.000000                0.000000
         4                         0.000000                0.000000
         5                         0.000000                0.000000
...                                     ...                     ...
492      242                       4.583753                4.392628
         243                       0.930271                0.066248
         244                       1.959095                1.146515
         245                       6.024287                4.841646
         246                       4.735441                4.712966

                     splag_1_decay_ged_ns_5
month_id country_id
1        1                         0.000000
         2                         0.000000
         3                         0.000000
         4                         0.000000
         5                         0.000000
...                                     ...
492      242                       2.159160
         243                       0.081070
         244                       1.087815
         245                       4.637548
         246                       5.091178

[89470 rows x 7 columns]

In [12]:
# Reset the index to get a clean dataframe

predcomp_subset_countrylag_features_filtered = predcomp_subset_countrylag_features_filtered.reset_index()
predcomp_subset_countrylag_features_filtered

,month_id,country_id,year,month,isoab,country,splag_1_decay_ged_sb_5,splag_1_decay_ged_os_5,splag_1_decay_ged_ns_5
0,1,1,1980,1,GUY,Guyana,0.000000,0.000000,0.000000
1,1,2,1980,1,SUR,Suriname,0.000000,0.000000,0.000000
2,1,3,1980,1,TTO,Trinidad and Tobago,0.000000,0.000000,0.000000
3,1,4,1980,1,VEN,Venezuela,0.000000,0.000000,0.000000
4,1,5,1980,1,WSM,Samoa,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...
89465,492,242,2020,12,TZA,Tanzania,4.583753,4.392628,2.159160
89466,492,243,2020,12,MAR,Morocco,0.930271,0.066248,0.081070
89467,492,244,2020,12,MRT,Mauritania,1.959095,1.146515,1.087815
89468,492,245,2020,12,SDN,Sudan,6.024287,4.841646,4.637548
89469,492,246,2020,12,SSD,South Sudan,4.735441,4.712966,5.091178

In [13]:
# Save the pre-processed to a CSV file

predcomp_subset_countrylag_features_filtered.to_csv(desktop+'predcomp_subset_countrylag_features_pre-processed.csv', index = False)

### Aggregate the data and calculate the mean per year

In [14]:
# Group by country_id, country, isoab, year and then take the mean of the numeric columns over each year 

mean_per_year = predcomp_subset_countrylag_features_filtered.groupby(["country_id", "country", "isoab", "year"]).mean(numeric_only=True).drop(columns=["month_id", "month"])
mean_per_year

                               splag_1_decay_ged_sb_5  splag_1_decay_ged_os_5  \
country_id country isoab year
1          Guyana  GUY   1980                2.322121                2.322121
                         1981                1.818765                1.818765
                         1982                1.286061                1.286061
                         1983                0.909382                0.909382
                         1984                0.643030                0.643030
...                                               ...                     ...
248        USSR    SUN   1991                0.000000                0.000000
250        USSR    SUN   1991                0.000000                0.000000
252        USSR    SUN   1991                0.000000                0.000000
253        USSR    SUN   1991                0.000000                0.000000
254        USSR    SUN   1991                0.000000                0.000000

                               splag_1_decay_ged_ns_5
country_id country isoab year
1          Guyana  GUY   1980                2.322121
                         1981                1.818765
                         1982                1.286061
                         1983                0.909382
                         1984                0.643030
...                                               ...
248        USSR    SUN   1991                0.000000
250        USSR    SUN   1991                0.000000
252        USSR    SUN   1991                0.000000
253        USSR    SUN   1991                0.000000
254        USSR    SUN   1991                0.000000

[7480 rows x 3 columns]

In [15]:
mean_per_year.to_csv(desktop+f'predcomp_subset_cy_batch2_{StartMonth}-{EndMonth}.csv')

In [16]:
print("All done")

All done